DATABASE_URL=postgresql+asyncpg://postgres:root@localhost:5432/camwa
DB_ECHO=true
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600

JWT_SECRET_KEY=your-secret-key
JWT_REFRESH_SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

MAIL_USERNAME=your-email
MAIL_PASSWORD=your smtp password
MAIL_FROM=your-email
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
EMAIL_RETRY_ATTEMPTS=3